body {
    background-color: white;
    padding-top: 50px;

}

h1 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 6rem;
    text-decoration: line-through;
    text-decoration-color: white;
}

h2 {
    text-align: center;
    font-family: 'Sacramento', cursive;
    font-size: 50px;
    line-height: 40px;
}

.intro-app {
    text-decoration-line: underline;
    text-decoration-color: white;
}

p {
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 900;
    padding-right: 15px;
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    padding: 0 50px 0 10px;
    font-size: 20px;
}

button,
input {
    border-radius: 30px;
    background-color: white;
    font-family: 'Raleway', sans-serif;
    box-shadow: 1px 2px black;
    font-weight: 550;
    padding: 7px;
    color: black;
}

button {
    font-weight: bold;
}

input {
    padding-left: 3px;
}

.custom-container {
    margin: auto;
    border-radius: 30px;
    border: solid 2px;
    padding: 30px;
    max-width: 600px;
    background-color: #B88342;
    box-shadow: 5px 10px rgb(136, 136, 136);
}

.bottom-page-link {
    display: block;
    text-align: center;
    margin-top: 10px;
}

#msg {
    font-family: 'Raleway', sans-serif;
    text-decoration-color: white;
    color: black;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(160 130 89 / 64%);
    box-shadow: 5px 10px #888888;
    border: 2px solid black;
    border-radius: 20px;
    padding: 5px;
}

.greeting {
    font-size: 20px;
}

.task-status {
    text-align: justify;
}

.task-title {
    color: black;
    text-decoration: underline;
    text-decoration-color: whitesmoke;
    cursor: pointer;
}

.app-name-title-page {
    font-size: 2.5rem;
}

a.task-title:hover,
.task-completed-title:hover {
    color: white;
    text-decoration-color: black;
}

.todo-tasks-container {
    padding: 8px;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}

.tasks-completed-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 8px;
}

.task-completed-title {
    text-decoration: line-through;
    color: black;
    text-decoration-color: rgb(233, 228, 229);
}

.todo-tasks-container .simplebar-track.simplebar-horizontal {
    background-color: rgb(250, 250, 250);
    height: 6px;
    border-radius: 3px;
}

.todo-tasks-container .simplebar-scrollbar::before {
    background-color: rgb(146, 99, 12);
    border-radius: 3px;
    opacity: 1;
}

.todo-task-title {
    text-decoration: none;
}

@media (max-width: 500px) {
    h1 {
        font-size: 60px;
    }
}