body {
    background-color: white;
    padding-top: 50px;

}

h1 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 6rem;
    text-decoration: line-through;
    text-decoration-color: white;
}

h2 {
    text-align: center;
    font-family: 'Sacramento', cursive;
    font-size: 50px;
    line-height: 40px;
}

p {
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 900;
    padding-right: 15px;
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    padding: 0 50px 0 10px;
    font-size: 20px;
}

button,
input {
    border-radius: 30px;
    background-color: white;
    font-family: 'Raleway', sans-serif;
    box-shadow: 1px 2px black;
    font-weight: 550;
    padding: 7px;
    color: black;
}

button {
    font-weight: bold;
}

input {
    padding-left: 3px;
}

.custom-container {
    margin: auto;
    border-radius: 30px;
    border: solid 2px;
    padding: 30px;
    max-width: 600px;
    background-color: #C9A165;
    box-shadow: 5px 10px #888888;
}




.bottom-page-link {
    display: block;
    text-align: center;
    padding-top: 3px;
}

#msg {
    font-family: 'Raleway', sans-serif;
    text-decoration-color: white;
    color: black;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(160 130 89 / 64%);
    box-shadow: 5px 10px #888888;
    border: 2px solid black;
    border-radius: 20px;
    padding: 5px;
}

/* task.html */
.greeting {
    font-size: 20px;
}

.task-status {
    text-align: justify;
}

.task-title {
    color: black;
    text-decoration: underline;
    text-decoration-color: whitesmoke;
    cursor: pointer;

}

.app-name-tasks-page {
    font-size: 2.5rem;
}



a.task-title:hover,
.task-completed-title:hover {
    color: white;
    text-decoration-color: black;
}

.todo-tasks-container {

    padding: 8px;
    width: 100%;
    /* Ensure the container takes up the available width */
    overflow-x: auto;
    /* Enable horizontal overflow */
    white-space: nowrap;
}

.tasks-completed-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 8px;
}

.task-completed-title {
    text-decoration: line-through;
    color: black;
    text-decoration-color: rgb(233, 228, 229);
}

.add-task-container {
    margin-top: 30px;
}

/* view-task.html */
.todo-task-title {
    text-decoration: none;
}

/* mediaqueries */
@media (max-width: 500px) {
    h1 {
        font-size: 60px;
    }
}

/* @media only screen and (max-width: 600px) {
    body {
        font-weight: 800;
    }
} */
.todo-tasks-container .simplebar-track.simplebar-horizontal {
    background-color: #fafafa;
    /* Customize the background color of the scrollbar track */
    height: 6px;
    /* Customize the height of the scrollbar track */
    border-radius: 3px;
    /* Customize the border radius of the scrollbar track */

}

.todo-tasks-container .simplebar-scrollbar::before {
    background-color: #92630C;
    /* Customize the color of the scrollbar thumb */
    border-radius: 3px;
    /* Customize the border radius of the scrollbar thumb */
    opacity: 1;

}